[Unit]
Description=Threefold gbt

[Service]
User=root
WorkingDirectory=/root
ExecStart=/usr/local/bin/gbt -a tf orchestrator --cosmos-phrase "<redacted-words>" -e "<redacted-eth-priv-key>" --gravity-contract-address "0xA18f6d4929eABb0C6073E916830Bb2FF1A419f12" -f 20000000TFT --ethereum-rpc "https://data-seed-prebsc-2-s1.binance.org:8545/"
Restart=always
[Install]
WantedBy=multi-user.target
